terraform {
  backend "s3" {
    bucket       = "bradicode-terraform-state"
    key          = "blog-api/terraform.tfstate"
    region       = "eu-west-1"
    use_lockfile = true
    encrypt      = true
  }
}
